* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    background-color:palegoldenrod;
    color: rgb(32, 56, 56);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results {
    margin-bottom: 30px;
    font-size: 20px;
}

.gameboard {
    font-family: Nanum Pen Script;
    color:rgb(32, 56, 56);
    border: 1px solid rgb(56, 56, 56);
}

.line {
    display: flex;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 550%;
    border: 1px solid rgb(32, 56, 56);
    height: 100px;
    width: 100px;
    background-color:lemonchiffon;
    user-select: none;
}

.cell:hover {
    background-color:rgb(241, 238, 202);
    cursor: pointer;
}

.reset {
    margin-top: 30px;
    width: 80px;
    height: 40px;
    font-size: 130%;
    padding: 5px;
    cursor: pointer;
    background-color: #00000000;
    font-weight:400;
    color: rgb(32, 56, 56);
    border: 2px solid rgb(32, 56, 56);
    border-radius: 5px;
}

.reset:hover {
    background-color:rgb(255, 249, 186);
}

.reset:active {
    background-color: rgb(235, 230, 179);
}

::backdrop {
    background-color: rgb(70, 66, 32);
    opacity: 0.7;
}

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    border: 2px solid;
    background-color: palegoldenrod;
}

dialog div:nth-of-type(2){
    padding-top: 20px;
}

input {
    margin-top: 5px;
    display: block;
    width: 130px;
    height: 20px;
    font-size: 100%;
    padding: 15px 8px;
    cursor: pointer;
    background-color: #00000000;
    font-weight:400;
    color: rgb(32, 56, 56);
    border: 2px solid rgb(32, 56, 56);
    border-radius: 5px;
}

input:focus {
    background-color: #00000000;
}

.startBtn {
    margin-top: 20px;
    width: 60px;
    height: 30px;
    font-size: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: #00000000;
    font-weight:400;
    color: rgb(32, 56, 56);
    border: 2px solid rgb(32, 56, 56);
    border-radius: 5px;
}

.startBtn:hover {
    background-color:rgb(255, 249, 186);
}

.startBtn:active {
    background-color: rgb(235, 230, 179);
}