* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    background-color:palegoldenrod;
    color: rgb(32, 56, 56);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results {
    margin-bottom: 30px;
    font-size: 20px;
}

.gameboard {
    font-family: Nanum Pen Script;
    color:rgb(32, 56, 56);

    border: 1px solid rgb(56, 56, 56);
}

.line {
    display: flex;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 550%;
    border: 1px solid rgb(32, 56, 56);
    height: 100px;
    width: 100px;
    background-color:lemonchiffon;
    user-select: none;
}

.cell:hover {
    background-color:rgb(241, 238, 202);
    cursor: pointer;
}

.reset {
    margin-top: 30px;
    width: 80px;
    height: 40px;
    font-size: 130%;
    padding: 5px;
    cursor: pointer;
    background-color: #00000000;
    font-weight:400;
    color: rgb(32, 56, 56);
    border: 2px solid rgb(32, 56, 56);
    border-radius: 5px;
}

.reset:hover {
    background-color:rgb(255, 249, 186);
}

.reset:active {
    background-color: rgb(235, 230, 179);
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      rgb(0, 0, 0),
      rgb(33, 33, 34),
      rgb(78, 79, 80),
      rgb(117, 126, 117)
    );
    opacity: 0.75;
  }

dialog {
    padding: 30px;
}

dialog div{
    padding: 10px;
}